.header {
    position: relative;
    width: 100%;
    height: 78.8rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #131313;

    &__name {
        padding: 3rem;
        padding-left: 8.2rem;
        height: 8rem;
        flex: 0 0 25%;
        color: $color-yellow;
        font-size: 1.2rem;
        font-family: FuturaDemic;

        @include respond (tab-land) {
            padding-left: 6rem;
            padding-right: 1.6rem;
        }

        @include respond (tab-port) {
            flex: 0 0 40%;
            font-size: 1.5rem;
        }

        @include respond(phone) {
            flex: 0 0 50%;
        }

        @include respond(phone-smaller) {
            padding-left: 2rem;
            flex: 0 0 60%;
        }
    }

    &__tel {
        position: absolute;
        top: 2.8rem;
        right: 32rem;
        flex: 0 0 15%;

        @include respond(tab-land) {
            right: 22rem;
        }

        @include respond (tab-port) {
            right: 40%;
        }

        @include respond(phone) {
            flex: 0 0 50%;
            right: 2rem;
        }

        @include respond(phone-smaller) {
            flex: 0 0 40%;
        }
    }

    &__tel a {
        font-size: 1.4rem;
        color: $color-yellow;

        @include respond (tab-port) {
            font-size: 1.8rem;
        }

        @include respond(phone) {
            color: $color-white;
        }
    }

    &__request-call {
        position: absolute;
        top: 2rem;
        right: 10rem;
        height: 8rem;
        flex: 0 0 20%;

        @include respond (tab-land) {
            right: 4rem;
        }

        @include respond (tab-port) {
            right: 8rem;
            height: 16rem;
        }

        @include respond(phone) {
            display: none;
        }

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        }

        &:active,
        &:focus {
            outline: none;
            transform: translateY(-1px);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        }
    }

    &__navigation {
        flex: 0 0 40%;
        padding-top: 3rem;
        height: 8.3rem;

        @include respond(tab-port) {
            display: none;
        }


        @include respond(phone) {
            display: none;
        }
    }

    &__navigation-list {
        display: flex;
        flex: 0 0 100%;
        justify-content: space-around;
    }

    &__navigation-item {
        flex: 0 0 auto;
        display: inline-block;
        letter-spacing: 1px;
    }

    &__navigation-link:hover,
    &__navigation-link:active {
        color: $color-primary-light;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
        transform: rotate(5deg) scale(1.3);
    }

    &__navigation-item:first-child &__navigation-link {
        color: $color-yellow;
    }

    &__navigation-item:first-child &__navigation-link:hover {
        color: $color-primary-light;
    }

    &__navigation-link {
        text-decoration: none;
        font-family: FuturaBookC;
        text-transform: uppercase;
        font-size: 1rem;
        color: $color-white;
        display: inline-block;
        transition: .4s;
    }



    &__main {
        position: relative;
        height: 93.3%;
        flex: 0 0 100%;
        display: flex;
    }

    &__main-img {
        position: relative;
        flex: 0 0 94.3%;
        display: block;
        height: 100%;
        background-image: url(../../img/main.png);
        background-size: cover;
        background-repeat: no-repeat;
        max-height: 75.8rem;

        @include respond(phone) {
            flex: 0 0 100%;
            background-position: top;
        }
    }

    &__main-instagram {
        flex: 0 0 5.7%;
        height: auto;
        position: relative;

        @include respond(phone) {
            display: none;
        }

        & span {
            display: inline-block;
            transform: rotate(90deg);
            color: $color-yellow;
            text-transform: uppercase;
            font-size: 1.4rem;
            font-family: FuturaDemic;
            position: absolute;
            top: 30rem;

            @include respond(tab-land) {
                left: -1rem;
            }

            @include respond(tab-port) {
                font-size: 2rem;
                left: -3rem;
            }

            &:after {
                content: url(../../img/vector.svg);
                font-size: 100%;
                display: block;
                position: absolute;
                transform: rotate(90deg);
                top: -2rem;
                left: 15rem;

                @include respond(tab-land) {
                    top: -2.4rem;
                }
            }
        }
    }

    &__main-text {
        position: absolute;
        left: 8.6%;
        top: 23.2%;
    }

    &__title {
        text-transform: uppercase;
        font-family: YesevaOne;
        color: $color-white;
        font-size: 4rem;

        &--first {
            display: block;

            @include respond(phone-smaller) {
                display: inline;
            }
        }

        &--second {
            display: block;

            @include respond(phone-smaller) {
                display: inline;
            }
        }

        &--yellow {
            color: $color-yellow;
        }

        @include respond(phone-smaller) {
            font-size: 3.2rem;
        }
    }

    &__text {
        margin-top: 2rem;

        & p {
            font-family: FuturaBookC;
            font-size: 2.2rem;
            font-weight: 100;
            color: $color-white;
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        margin-top: 3.8rem;
        justify-content: space-between;
        width: 85%;

        @include respond (phone-sm) {
            flex-direction: column;
            align-items: center;
            width: 90%;
        }
    }

    &__buttons .btn--orange {
        width: 20.7rem;
        text-align: center;
        flex: 0 0 45%;
        font-size: 1.2rem;
        transition: 0.4s;

        @include respond (phone-sm) {
            width: 100%;
            font-size: 1.6rem;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-radius: 0;
        }

        &:hover,
        &:active {
            background-color: #cf6d17;
        }
    }

    &__buttons .btn--transparent {
        width: 20.7rem;
        border: 2px solid $color-white;
        text-align: center;
        flex: 0 0 45%;
        font-size: 1.2rem;
        transition: 0.4s;

        @include respond (phone-sm) {
            width: 100%;
            font-size: 1.6rem;
            padding-bottom: 1rem;
            border-radius: 0;
        }

        &:hover,
        &:active {
            background-color: #cf6d17;
            border: 2px solid #cf6d17;
        }
    }

    &__scroll {
        transform: translate(-35%, -100%);
        flex: 0 0 17.2%;
        text-transform: uppercase;
        color: $color-white;
        background-color: $color-grey-dark;
        position: relative;
        top: 100%;
        height: 9.7rem;
        width: 17.2%;

        @include respond (tab-port) {
            display: none;
        }

        & span {
            position: relative;
            left: 4rem;
            top: 4rem;
            text-transform: uppercase;
            font-family: YesevaOne;
            font-size: 1.4rem;

            @include respond(tab-land) {
                left: 1rem;
                top: 3rem;
            }


            & img {
                position: absolute;
                top: -0.8rem;
                left: 11rem;
                padding-left: .4rem;
                height: 2.9rem;
                transition: 0.2s;

                @include respond (tab-land) {
                    left: 10.4rem;
                    height: 2.5rem;
                    top: -0.6rem;
                }

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}
