.section-slider {
    background-color: $color-grey-dark;
    padding-bottom: 25rem;
   
    &__top {
        position: relative;
        display: flex;
        height: 6rem;

        @include respond(tab-port) {
            display: none;
        }
    }

    &__aside {
        flex: 0 0 40%;
    }

    &__navigation {
        display: flex; 
        flex: 0 0 60%;  
        height: 6rem;
        padding-top: 3rem;

        @include respond(tab-land) {
            height: 5rem;
            padding-top: 2rem;
        }

        @include respond(tab-port) {
            display: none;
        }

        @include respond(phone) {
            display: none;
            outline: none;
        }
    }

    &__navigation-list {
        display: flex; 
        flex: 0 0 100%; 
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        list-style: none;
    }

    &__navigation-item {
        flex: 0 0 auto;
        display: inline-block;
        letter-spacing: 1px;
    }

    &__navigation-item:first-child  &__navigation-link {
        color: $color-yellow;
        border-bottom: 1px solid $color-yellow;
    }

    &__navigation-link:hover, &__navigation-link:active {
            border-bottom: 1px solid $color-yellow;
            color: $color-yellow;
    }


    &__navigation-link {
        text-decoration: none;
        font-family: YesevaOne;
        text-transform: uppercase;
        font-size: 1.6rem;
        color: $color-white;
        display: inline-block;
        transition: all 0.4s;
        padding-bottom: 0.6rem;

        @include respond (tab-land) {
            font-size: 1.4rem;
        }
    }

    &__main {
        display: flex;
        flex-direction: row;

        @include respond(tab-port) {
            flex-direction: column;
        }
    }

    &__left {
        position: relative;
        flex: 0 0 42%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 6%;
        padding-right: 4%;

    }

    &__heading {
        flex: 0 0 100%;
        font-family: YesevaOne;
        color: $color-yellow;
        font-size: 2rem;
        text-transform: uppercase;


        @include respond(tab-port) {
            position: absolute;
            left: 40%;
            flex: 0 0 20%;
            order: 0;
            margin-top: 2rem;
        }

        @include respond(phone) {
            width: 20%;
            text-align: center;
            left: 40%;
            line-height: 1.6;
        }

        & h2 {
            display: inline-block;

            @include respond(tab-land) {
                font-size: 1.9rem;
            }

            & br {
                @include respond(tab-port) {
                    display: none;
                }
            }
        }

        & img {
            display: inline-block;
            padding-bottom: 1rem;

            @include respond(tab-port) {
                display: none;
            }

            @include respond(phone) {
                display: none;
            }
        }
    }

    &__text {
        flex: 0 0 100%;
        font-family: FuturaBookC;
        font-size: 1.7rem;
        color: $color-white;
        margin: 4rem 0;
        & ul {
            list-style: none;
            text-decoration: none;

            & li {
                padding-top: 0.8rem;
            } 
        }

        @include respond(tab-land) {
            margin: 2rem 0;
        }

        @include respond(tab-port) {
            flex: 0 0 100%;
            order: 1;
            margin: 4rem 0;
            text-align: center;
            font-size: 2rem;
        }

        @include respond(phone) {
            margin-top: 8rem;
        }
    }

    &__city, 
    &__area,
    &__time,
    &__cost {
        flex: 0 0 50%;
        color: $color-white;
        font-family: FuturaBookC;
        font-size: 1.5rem;
        margin-bottom: 2rem;

        @include respond(tab-land) {
            margin-bottom: 1rem;
        }
    }

    &__city {
        @include respond(tab-port) {

            position: absolute;
            top: 452%;

        }

        @include respond(tab-port2) {
            top: 408%;
        }

        @include respond(phone) {
            top: 340%;
        }

        @include respond(phone-sm) {
            top: 290%;
        }

        @include respond(phone-smaller) {
            top: 246%;
        }

        @include respond(phone-smallest) {
            top: 210%;
        }
    }

    &__area {

        @include respond(tab-port) {

            position: absolute;
            top: 452%;
            left: 50%;

        }

        @include respond(tab-port2) {
            top: 408%;
        }

        @include respond(phone) {
            top: 340%;
        }

        @include respond(phone-sm) {
            top: 290%;
        }

        @include respond(phone-smaller) {
            top: 246%;
        }

        @include respond(phone-smallest) {
            top: 210%;
        }
    }

    &__time {
        @include respond(tab-port) {

            position: absolute;
            top: 510%;

        }

        @include respond(tab-port2) {
            top: 460%;
        }

        @include respond(phone) {
            top: 386%;
        }

        @include respond(phone-sm) {
            top: 328%;
        }

        @include respond(phone-smaller) {
            top: 284%;
        }

        @include respond(phone-smallest) {
            top: 244%;
        }
    }

    &__cost {
        @include respond(tab-port) {

            position: absolute;
            top: 510%;
            left: 50%;

        }

        @include respond(tab-port2) {
            top: 460%;
        }

        @include respond(phone) {
            top: 386%;
        }

        @include respond(phone-sm) {
            top: 328%;
        }

        @include respond(phone-smaller) {
           top: 284%;
        }

        @include respond(phone-smallest) {
            top: 244%;
        }
    }

    & h3 {
        text-transform: uppercase;
        color: $color-yellow;
        font-family: YesevaOne;
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    &__arrows {
        margin-top: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0 0 50%;

        @include respond(tab-land) {
            margin-top: 1rem;
        }

        @include respond(tab-port) {
            display: none;
        }
  

        & img {
            position: relative;
            display: inline-block;
        }

        & img:first-child {
            margin-right: 1rem;
        }
    }

    &__right {
        position: relative;
        flex: 0 0 58%;
        display: flex;
        flex-direction: row;
        overflow: hidden;

        @include respond(phone) {
            background-image: url('../../img/mobile-slider.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        & img {
            position: relative;         
            display: block;

                @include respond(phone) {
                    visibility: hidden;
                }

                &:nth-child(4), &:nth-child(3) {
                    @include respond(phone) {
                    visibility: visible;
                    }

                    &:hover, &:active {
                        cursor: pointer;
                        transform: translateY(-50%) scale(1.2);
                    }
                }
            
        }

        & img:first-child {
            flex: 1 82 82%;
            width: 82%;
            height: auto;
            margin-right: 1rem;
        }

        & img:nth-child(2) {
            flex: 1 17 17%;
            width: 17%;
            height: auto;
        }

        & img:nth-child(3) {

            display: none; 

            @include respond(tab-port) {
            display: inline-block;
            height: 7rem;
            position: absolute;
            left: 2.8rem;
            top: 50%;
            transform: translateY(-50%);
            }
        }

        & img:last-child {
            position: absolute;
            right: 2.8rem;
            top: 50%;
            transform: translateY(-50%);
        }

        @include respond(tab-port) {
            display: flex;
            flex: 0 0 100%;
            order: 2;
        }
    }

    &__control {
        margin-top: 9rem;
        margin-bottom: 2rem;
        color: $color-white;
        font-family: YesevaOne;
        font-size: 1.4rem;
        text-transform: uppercase;

        @include respond(tab-land) {
            margin-top: 6rem;
        }

        @include respond(tab-port) {
            margin-top: 26rem;
        }

        & h2 {
            margin: 0 auto;
            width: 80%;
            text-align: center;
        }
    }

    &__surveillance {
        margin: 0 auto;
        width: 14.8%;
        text-align: center;

        & img {
            margin-right: 0.4rem;
        }

        & [src$="dash.jpg"] {
            display: inline-block;
            margin-bottom: 1.2rem;
        }

        @include respond(tab-port) {
            width: 40%;
        }
    }
}
