@font-face {
    font-family: "FuturaDemic";
    src: url("../../css/fonts/FuturaDemiC.ttf");
}

@font-face {
    font-family: "FuturaBookC";
    src: "../../css/fonts/FuturaBookC.ttf";
}

@font-face {
    font-family: "YesevaOne";
    src: "../../css/fonts/YesevaOne.eot";
}