
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

$bp-smallest: 23.44em;  // 375px;

html {
   
    font-size: 62.5%;   


    @include respond(phone) { 
        font-size: 50%;  
    }


}

body {
    box-sizing: border-box;
    max-width: 144rem;
    padding: 3rem; 
    @include respond(phone) { 
        padding: 0;
    }
}

.container {
    margin: 0 auto;
}

.btn,
.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    padding-top: 1.4rem;
}

.btn--orange {
    background-color: $color-yellow;
    color: $color-white;
    font-family: FuturaDemic;
    text-align: center;
    display: block;
    width: 16.1rem;
    height: 4rem;
}

.btn--transparent {
    background-color: transparent;
    color: $color-white;
    font-family: FuturaDemic;
    text-align: center;
}


header, footer, section, article, video, nav, iframe, div, li, ul {
    outline: 1px solid red;
}

footer {
    background-color: yellow;
}

article {
    background-color: grey;
}
