section {
    min-height: 80rem;
    width: 100%;
    position: relative;
}

.section-control {

    @include respond(phone-sm) {
        background-color: $color-grey-dark;
        color: $color-white;
        min-height: 60rem;
    }

    &__video-container {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        background-size: cover;
        background-position: center;
        width: 60%;
        height: 72%;
        max-width: 81.7rem;
        max-height: 43.4rem;
        overflow: hidden;

        @include respond (phone-sm) {
            width: 90%;
        }
    }
    
    &__video {
        position: absolute;
        top: -10%;
        left: 0;
        height: 110%;
       transform: scaleX(1.04);

        @include respond(phone) {
            min-width: 50%;
        }
    }

    & img {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);

        &:hover {
            cursor: pointer;
        }
    }

    &__text {
        position: absolute;
        width: 70rem;
        top: 44%;
        left: 50%;
        transform: translate(-50%, -58%);
        font-family: FuturaBookC;
        color: $color-grey-dark-2;
        font-size: 2rem;

        @include respond(tab-land) {
            top: 50%;
        }

        @include respond (phone-sm) {
            top: 76%;
            width: 90%;
            color: $color-white;
            padding-bottom: 22rem;
        }

        & ul {
            list-style: none;
            @include respond (phone-sm) {
                text-align: center;
            }
        }

        & li {
            text-align: center;

            @include respond (phone-sm) {
                display: inline;
            }
        }

        & li:first-child {
            padding-bottom: 3rem;
            @include respond (phone-sm) {
                display: block;
                padding-bottom: 1.4rem;
            }
        }
    }

    &__personal-data {
        position: absolute;
        width: 74rem;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;

        @include respond(tab-land) {
            top: 72%;
        }

        @include respond(phone) {
            left: 55%;
        }

        @include respond(phone-sm) {
            top: 80%;
            flex-direction: column;
            width: 90%;
            left: 50%;
        }

        

    }

    &__name,
    &__phone {
        flex: 0 0 20%;
        display: flex;
        flex-direction: column;
        font-family: FuturaBookC;

        @include respond(phone-sm) {
            color: $color-white;
            margin-bottom: 4rem;
            padding-left: 5%;
        }

        & label {
            flex: 0 0 20%;
            font-size: 1.5rem;
            opacity: 0.5;
            line-height: 1rem;
        }

        & input {
            border: none;
            font-size: 1.8rem;
            flex: 0 0 80%;
            line-height: 1rem;


        @include respond(phone-sm) {
            background-color: $color-grey-dark;
            color: $color-white;
        }
        }

        &:after {
            display: block;
            content: ".";
            height: 1px;
            width: 23rem;
            background-color: $color-grey-dark-2;
            opacity: 0.7;
            margin: 0 auto;
            margin-right: 4rem;

            @include respond(phone) {
                width: 20rem;
            }

            @include respond(phone-sm) {
                width: 95%;
                color: $color-white;
                opacity: 1;
            }
        }

    }

    &__submit {
        flex: 0 0 27%;
        background-color: $color-yellow;
        text-align: center;
        display: block;
        height: 5rem;

        @include respond(phone-sm) {
            position: absolute;
            top: 100%;
            left: 0;
            width: 90%;
            transform: translate(0%, 50%);
            text-align: center;
        }

        & button {
            height: 5rem;
            width: 20.1rem;
            border: 0;
            padding-bottom: 0.8rem;
            color: $color-white;
            font-family: FuturaDemiC;
            font-size: 1.5rem;

            @include respond(phone-sm) {
                text-align: center;
                width: 100%;
            }
        }
    }

    &__checkbox {
        display: block;
        position: absolute;
        left: 50%;
        top: 74%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        padding-left: 2.2rem;
        font-family: FuturaBookC;
        font-size: 1.6rem;

        @include respond(tab-land) {
            top: 88%;
        }

        @include respond(phone-sm) {
            top: 90%;
            left: 0;
            transform: translate(20%, 0%);
        }

        & input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
    }

    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 1.8rem;
        width: 1.8rem;
        border: 1px solid black;
        background-color: $color-white;
    }

    &__checkbox:hover input ~  &__checkmark {
        background-color: $color-white;
      }

      &__checkbox input:checked ~  &__checkmark {
        background-color: $color-yellow;
        border: 0;
      }

      &__checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      &__checkbox input:checked ~  &__checkmark::after {
        display: block;
      }

      &__checkbox &__checkmark:after {
        left: 8px;
        top: 4px;
        width: 5px;
        height: 10px;
        border: solid $color-white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);

        @include respond(tab-land) {
            left: 6px;
            top: 3px;
        }

        @include respond(tab-port2) {
            left: 4px;
            top: 2px;
        }

      }
}

.section-repair {
    padding: 0 3.8%;

    @include respond(phone-sm) {
        padding-top: 8rem;
    }

    &__types {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        min-height: 42.1rem;
        max-width: 127.5rem;
        position: relative;

        @include respond(phone) {
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-between;
        }
    }

    &__redecorate{
        position: relative;
        flex: 1 1 31%;
        margin-right: 2.4%;

        & img { 
            max-width: 100%;
          }

        @include respond(phone) {
            flex: 0 0 100%;
            margin-bottom: 12rem;
        }
    }

    &__overhaul {
        position: relative;
        flex: 1 1 31%;
        margin-right: 2.4%;

        & img { 
            max-width: 100%;
          }

        @include respond(phone) {
            flex: 0 0 100%;
            margin-bottom: 12rem;
        }
    }

    &__designer {
        position: relative;
        flex: 1 1 31%;

        & img { 
            max-width: 100%;
          }

        @include respond(phone) {
            flex: 0 0 100%;
            margin-bottom: 0rem;
        }
    }
    &__description {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 28.6rem;
        width: 81%;
        background-color: $color-white;
        padding-left: 10%;
        box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.03);

        @include respond(tab-port) {
            top: 86%;
        }

        @include respond(tab-port2) {
            top: 80%;
            height: 30rem;
        }

        @include respond(phone) {
            left: 0%;
            transform: translate(0%, -50%);
        }

        & h3 {
            font-size: 1.8rem;
            font-family: YesevaOne;
            margin: 1rem 0;
        }

        & li {
            font-family: FuturaBookC;
            font-size: 1.5rem;
            line-height: 1.8;
            color: $color-grey-dark-3;
        }
    }

    @include price;

    &__price {
        @include respond (tab-land) {
                width: 73%;
        }

        @include respond(tab-port2) {
            width: 84%;
        }

        & h3 {
            @include respond (tab-port) {
                font-size: 1.5rem;
            }
        }
    }

    &__control {
        margin-bottom: 2rem;
        color: $color-white;
        font-family: YesevaOne;
        font-size: 1.4rem;
        text-transform: uppercase;

        & h2 {
            margin: 0 auto;
            width: 80%;
            text-align: center;
        }
    }

    @include heading-logo;

}


.section-samples {
        background: url(../../img/bg_samples.jpg);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 8rem;
                                    
    @include respond(tab-land) {
       margin-top: 6rem;
       min-height: 60rem;
    }

    & * {
        @include respond(phone) {
            visibility: hidden;
            
        }
    }

        &__arrows {
            visibility: hidden;
        }
             

                &__arrows img:nth-child(1) {
            
                    @include respond(phone) {
                    display: inline-block;
                    visibility: visible;
                    height: 7rem;
                    position: absolute;
                    left: 3.8rem;
                    top: 50%;
                    transform: translateY(-50%);

                    &:hover, &:active {
                        cursor: pointer;
                        transform: translateY(-50%) scale(1.2);
                    }
                    }
                    
                }
            
                &__arrows img:nth-child(2) {
                    @include respond(phone) {
                    display: inline-block;
                    visibility: visible;
                    position: absolute;
                    right: 2.8rem;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 999;

                    &:hover, &:active {
                        cursor: pointer;
                        transform: translateY(-50%) scale(1.2);
                    }

                    }
                }

        @include respond(phone) {
            background-image: url('../../img/light-bg.png');
            background-position: center;
            background-size: 90vw;
            background-repeat: no-repeat;
        }
   

    & h2 {
        text-transform: uppercase;
        font-family: YesevaOne;
        color: $color-yellow;
        font-size: 2.7rem;
        margin-bottom: 4.7rem;

        @include respond (tab-port2) {
            margin-bottom: 2rem;
            font-size: 2rem;
        }
    }

    &__text {
        position: relative;
        flex: 1 1 30%;
        color: $color-white;
        font-family: ProximaNova;
        font-size: 2rem;
        padding-left: 10rem;
        padding-top: 11rem;

        @include respond(tab-land) {
            padding-left: 6rem;
            padding-top: 2rem;
        }

        @include respond(tab-port2) {
            padding-left: 4rem;
        }

        @include respond(phone) {
            display: none;
            
        }

        & ul {
            list-style: none;
            min-height: 52rem;
            line-height: 2.3;

            @include respond(tab-land) {
                min-height: 40rem;
                line-height: 1.8;
            }
                

                & li span:hover, & span:active {
                    cursor: pointer;
                    border-bottom: 1px solid $color-yellow;
                    color: $color-yellow;
            }

            & li:first-child span{
                color: $color-yellow;
                border-bottom: 1px solid $color-yellow;
            }
        }
    }

    &__column {
        position: relative;
        display: flex;
        flex-direction: column;

        @include respond(phone) {
            display: none;   
        }

        &--first {
            flex: 1 1 24.5%;
            transform: translateY(-4%);
            margin-right: 3%;

            & img {
                max-width: 100%;
            }
        }

        &--second {
            flex: 1 1 24.5%;
            transform: translateY(-11%);
            margin-right: 7%;

            & img {
                max-width: 100%;
            }
        }
        

        & img:nth-child(even) {
            margin-top: 4rem;

            @include respond (tab-port) {
                margin-top: 2rem;
            }
        }
    }
}

.section-design-project{
    min-height: 44rem;
    max-width: 144rem;
    margin-top: 8rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @include respond(tab-land) {
        margin-top: 6rem;
    }

    @include respond(phone) {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        margin-top: 0rem;
        background-color: #131313;
        color: $color-white;
    }

    &__heading {
        flex: 0 0 100%;  
        
        @include respond(phone) {
            padding-top: 2rem;
        }
    }

    &__control {
         margin-bottom: 2rem;
         color: $color-white;
         font-family: YesevaOne;
         font-size: 1.4rem;
         text-transform: uppercase;
         
 
         & h2 {
             margin: 0 auto;
             width: 80%;
             text-align: center;
             color: $color-black;

             @include respond(phone) {
                 color: $color-white;
             }
         }
     }

     @include heading-logo;

    &__text {
        width: 76rem;
        min-height: 6rem;
        margin: 0 auto;
        font-family: FuturaBookC;
        font-size: 2rem;
        margin-top: 2.5rem;

        & ul {
            list-style: none;

            & li {
                text-align: center;
                line-height: 1.6;
            }
            
        }

        @include respond(phone) {
            width: 90%;
        }
    }
    
    &__mini {
        position: relative;
        transform: translateY(34%);
        flex: 0 0 27.2%;
        height: 42rem;
        margin-left: 7.1%;

        & img {
            max-width: 100%;
        }

        @include respond(tab-land) {
            transform: translateY(20%);
        }

        @include respond(phone) {
            flex: 0 0 100%;
            margin: 0 auto;
            margin-bottom: 20rem;
        }
    }


    &__standard {
        position: relative;
        transform: translateY(34%);
        flex: 0 0 27.2%;
        height: 42rem;

        & img {
            max-width: 100%;
        }

        @include respond(tab-land) {
            transform: translateY(20%);
        }

        @include respond(phone) {
            flex: 0 0 100%;
            margin: 0 auto;
            margin-bottom: 20rem;
        }
    }

    &__full {
        position: relative;
        transform: translateY(34%);
        flex: 0 0 27.2%;
        margin-right: 7.1%;
        height: 42rem;

        & img {
            max-width: 100%;
        }

        @include respond(tab-land) {
            transform: translateY(20%);
        }

        @include respond(phone) {
            flex: 0 0 100%;
            margin: 0 auto;
            margin-bottom: 50rem;
        }
    }

    &__description {
        position: absolute;
        top: 67%;
        left: 50%;
        transform: translateX(-50%);
        width: 84%;
        background-color: $color-white;
        padding-top: 6%;
        padding-left: 9%;
        padding-bottom: 12%;
        box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.03);

        @include respond(tab-land) {
            top: 58%;
        }

        @include respond(tab-port) {
            top: 48%;
        }

        @include respond(phone) {
            top: 68%;
            left: 0%;
            transform: translate(0%, 0%);
            width: 79.4%;
        }

        &--mini {
            max-height: 23.7rem;
        }

        &--standard {
            max-height: 28.6rem;
        }

        &--full {
            max-height: 41.4rem;
        }

        & h3 {
            color: #363636;
            font-size: 1.8rem;
            font-family: YesevaOne;
            margin: 1rem 0;

            @include respond(phone) {
                font-size: 2rem;
            }
        }

        & li {
            font-family: FuturaBookC;
            font-size: 1.5rem;
            line-height: 1.6;
            color: $color-grey-dark-3;

            @include respond(phone) {
                font-size: 1.8rem;
                line-height: 1.5;
            }
        }
    }

    @include price;
 
}

.section-steps {
    position: relative;
    padding-top: 42.8rem;
    display: flex;
    background-color: #131313;
    z-index: -1;
    
    @include respond(tab-land) {
        padding-top: 30rem;
    }

    &__step {
        flex: 0 0 23.4%;
        margin-left: 10rem;
        margin-bottom: 10rem;
        color: $color-white;

        @include respond(tab-land) {
            margin-left: 6rem;
        } 

        @include respond(tab-port) {
            flex: 0 0 30%;
            margin-left: 4rem;
            margin-bottom: 6rem;
        }
    }

    &__goal {
        text-transform: uppercase;
        margin-bottom: 9.2rem;

        & h5 {
            margin-bottom: 1rem;
            font-family: FuturaDemic;
            font-size: 1.5rem;
        }

        & h2 {
            color: $color-yellow;
            font-family: YesevaOne;
            font-size: 2.7rem;
        }

        & h2 img {
            display: inline-block;
            margin-left: 4rem;

            @include respond(tab-land) {
                margin-left: 2rem;
                max-width: 28%;
            }
        }
    }

    &__desc {
        margin-bottom: 10.4rem;

        @include respond(tab-land) {
            margin-bottom: 6rem;
        }

        & h4 {
            font-family: YesevaOne;
            font-size: 1.8rem;
            margin-bottom: 2rem;
        }

        & h3 {
            text-transform: uppercase;
            color: $color-yellow;
            margin-bottom: 1.4rem;
            font-family: YesevaOne;
            font-size: 1.5rem;
        }

        & p {
            font-family: FuturaBookC;
            font-size: 1.5rem;
            line-height: 2.5rem;

            @include respond(tab-port) {
                font-size: 1.6rem;
            }
        }
    }

    &__arrows {
        margin-top: 6rem;
        display: flex;
        justify-content: space-between;
        width: 28.7rem;

        @include respond(tab-port) {
            margin-top: 1rem;
            width: 100%;
        }

        & a img {
            position: relative;
            display: inline-block;
        }

        & a img:hover {
            padding: 0.4rem;
            border: 1px solid #ffffff;
            background: orange;
        }
    }

    &__main {
            display: flex;
            flex: 0 0 61%;
            color: $color-white;
            flex-wrap: wrap;
    }

    &__list {
        
        flex: 0 0 100%;
        color: $color-white;
        max-height: 20rem;
        
        margin-top: 8.3rem;

        & ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin-left: 9%;

            @include respond(tab-port) {
                margin-left: 2%;
                justify-content: space-between;
            }
        }

        & ul li {
            display: inline-block;
            flex: 0 0 33.3%;
            opacity: 0.3;
            margin-bottom: 4rem;

            @include respond(tab-port) {
                flex: 0 0 31%;
            }

            &:first-child {
                opacity: 1;
            }

            & span:nth-child(2) {
                font-size: 1.8rem;
                font-family: FuturaBookC;
                line-height: 1.8rem;
            }

            & span:first-child {
                display: block;
                width: 2rem;
                line-height: 1.8rem;
                margin-bottom: 0.6rem;
                font-family: YesevaOne;
                border-bottom: 1px solid rgba(227, 184, 115, 0.3);
                font-size: 1.8rem;
            }
        }
    }

    &__img {
        flex: 0 0 100%;
        height: 100%;
        max-width: 76.5rem;
        margin-left: 1rem;
        background: url('../../img/img_steps.jpg');
        background-repeat:no-repeat;
        background-size:contain;

        @include respond (tab-port) {
            margin-left: 2rem;
           
        }

        @include respond(tab-port2) {
           max-width: 48rem;
        }

    }

    @include respond(phone) {
        display: none;
    }
}

.section-team {
    position: relative;
    display: flex;
    min-height: 90rem;

    @include respond(phone) {
        min-height: 250rem;
        background-color: #131313;
    }

    &__heading {
        flex: 0 0 100%;  
        background-color: #131313;   
    }

    &__control {
        padding-top: 2.5rem;
         margin-bottom: 2rem;
         color: $color-white;
         font-family: YesevaOne;
         font-size: 1.4rem;
         text-transform: uppercase;

         @include respond(tab-land) {
            padding-top: 4rem;
            margin-bottom: 2rem;
        } 
 
         & h2 {
             margin: 0 auto;
             width: 80%;
             text-align: center;
             font-family: YesevaOne;
             font-size: 2rem;
         }
     }

     @include heading-logo;

    &__text {
        width: 100%;
        margin: 0 auto;
        color: #ffffff;

        & ul {
            list-style: none;

            & li {
                text-align: center;
                line-height: 1.6;

                & span {
                    font-family: FuturaBookC;
                    font-size: 2rem;
                }
    
            }
            
            @include respond(tab-land) {
                padding-bottom: 28rem;
            }

        }
    }


    &__profile-set {
        display: flex;
        width: 74%;
        justify-content: center;
        margin: 0 auto;
        position: absolute;
        transform: translate(+17%, +70%);

        @include respond(tab-land) {
            transform: translate(+9%, +78%);
            width: 84%;
        } 

        @include respond(tab-port) {
            transform: translate(+9%, +90%);
        }

        @include respond(tab-port2) {
            transform: translate(+9%, +100%);
        }

        @include respond(phone) {
            flex-direction: column;
            transform: translate(+9%, +14%);
        }
    }

    &__profile {
        position: relative;
        flex: 1 1 18.9%;
        max-height: 35.7rem;

        @include respond(phone) {
            flex: 0 0 100%;
            margin: 0 auto;
            max-width: 303px;
            margin-bottom: 28rem;
        }
        img:nth-child(2) {
            width: 100%;
        }

        &:not(:first-child) {
            margin-left: 8%;

            @include respond(phone) {
                margin-left: auto;
            }
        }

        img:first-child {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%) scale(1);

            @include respond(tab-land) {
            transform: translate(-50%, -50%) scale(0.8);
            } 

            @include respond(tab-port) {
                transform: translate(-50%, -50%) scale(0.6);
                } 
        }

      
    }

    &__profile:nth-child(even) {

    }

    &__profile-info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 70%);
        background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 66%, #e3b873 66%);
        padding-top: 2.2rem;
        box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.03);
        min-height: 13.7rem;
        width: 86%;

        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond(tab-land) {
            transform: translate(-50%, 50%);
            padding-top: 1.6rem;
        } 

        @include respond(tab-port) {
            width: 94%;
            transform: translate(-50%, 34%);
            padding-top: 0.6rem;
            } 

            @include respond(phone) {
                width: 77%;
                top: 100%;
                transform: translate(-50%, 40%);
            }

        & * {
            display: inline-block;
            text-align: center;
            margin: 0 auto;
        }

        & h3 {
            color: #363636;
            font-size: 1.8rem;
            font-family: YesevaOne;
            margin: 1rem auto;
            width: 80%;
            flex: 0 0 100%;

            @include respond(tab-land) {
                font-size: 2.4rem;
                padding: 0 3.3rem;
            } 

            @include respond(tab-port) {
                font-size: 2.4rem;
                padding: 0 2rem;
                } 
            
                @include respond(phone) {
                    padding: 0 1rem;
                    } 
        }

        & span {
            font-family: FuturaBookC;
            font-size: 1.8rem;
            display: inline-block;
            color: #959595;
            width: 80%;
            flex: 0 0 100%;

            @include respond(tab-land) {
                padding-bottom: 2rem;
            } 

            @include respond(tab-port) {
                padding-bottom: 0.4rem;
            } 
        }

        & h4 {
            color: $color-white;
            text-transform: uppercase;
            margin-top: 2rem;
            font-size: 1.4rem;
            width: 100%;
            flex: 0 0 100%;

            & br {
                display: none;
            }

            & br {
                @include respond(tab-land) {
                    display: inline-block;
                }
            }

            & br {
                @include respond(phone) {
                    display: none;
                }
            }

            @include respond(tab-land) {
                padding-bottom: 1rem;
                font-size: 1.6rem;
            }

            @include respond(tab-port) {
                font-size: 1.6rem;
            }
        }
    }


    &__desc {
        flex: 0 0 100%;
        min-height: 30rem;
    }

    &__summary {
        position: absolute;
        width: 70rem;
        top: 82%;
        left: 50%;
        transform: translateX(-50%);
        font-family: FuturaBookC;
        color: $color-grey-dark-2;
        font-size: 2rem;

        @include respond(phone) {
           display: none;
        }

        & ul {
            list-style: none;
        }

        & li {
            text-align: center;
        }

        & li:first-child {
            padding-bottom: 1rem;
        }

        @include respond(tab-land) {
            top: 88%;
        }

        @include respond(tab-port) {
            top: 84%;
        }

        @include respond(tab-port2) {
            top: 80%;
        }
    }
}

.section-clients {
    min-height: 95rem;
    position: relative;
    background-color: $color-grey-light-1;
    padding-top: 4rem;

    @include respond(tab-port) {
        padding-bottom: 28rem;
    }

    @include respond(phone) {
        display: none;
    }

    &__heading {
        flex: 0 0 100%;   
        margin-bottom: 6rem;

 
    }

    &__control {
         margin-bottom: 2rem;
         color: #181818;
         font-family: YesevaOne;
         font-size: 2rem;
         text-transform: uppercase;
 
         & h2 {
             margin: 0 auto;
             width: 14.8%;
             text-align: center;
             font-family: YesevaOne;
             font-size: 2rem;
         }
     }

     @include heading-logo;

    &__text {
        width: 76rem;
        min-height: 6rem;
        margin: 0 auto;
        font-size: 2rem;
        color: $color-grey-dark-2;
        font-family: FuturaBookC;

        & ul {
            list-style: none;

            & li {
                text-align: center;
                line-height: 1.6;

                & span {
                    font-family: FuturaBookC;
                    font-size: 2rem;
                }
    
            }
            
        }
    }

    &__reviews-set {
        display: flex;
        justify-content: center;
    }
    &__reviews{
        position: relative;
        flex: 0 0 26.1%;
        height: 42.8rem;
        background-color: $color-white;

        @include respond(tab-land) {
            flex: 0 0 30.6%;
        }

        @include respond(tab-port2) {
            height: 48rem;
            max-width: 32%;
        }

        @include respond(phone) {
            display: none;
        }
    }

    &__reviews:nth-child(even) {
        margin: 0 5.4rem;

        @include respond(tab-land) {
            margin: 0 2%;
        }
    }
    &__reviews-header {
        display: flex;

        & img {
            flex: 0 0 20.5%;
            margin: 2rem;

            @include respond(tab-port2) {
                margin-right: 1.4rem;
            }
        }

        & h3 {
            font-family: YesevaOne;
            font-size: 1.8rem;
            margin-top: 4rem;
            margin-right: 4rem;

            @include respond(tab-port) {
                margin-right: 2rem;
            }
        }
    }
    &__reviews-text {
        font-size: 1.5rem;
        font-family: FuturaBookC;
        line-height: 180%;
        color: $color-grey-dark-3;
        padding-left: 1rem;
        padding-right: 1.4rem;

        @include respond(tab-land) {
            line-height: 160%;
        }
    }

    &__reviews-time {
        display: flex;
        justify-content: space-around;
        width: 78%;
        height: 5.4rem;
        background-color: $color-yellow;
        position: absolute;
        top: 100%;
        left: 0;
        transform: translateY(-50%);
        box-shadow: 0.5rem 0.5rem 1rem rgba(227, 184, 115, 0.3);

        @include respond (tab-port) {
            width: 86%;
        }

        & span {
            flex: 0 0 12%;
            margin-top: 1rem;

            @include respond (tab-port) {
                margin-top: 0.6rem;
            }

            &.vector {
                flex: 0 0 1%;
                margin-top: 0;
            }
        }
       
        & h3 {
            flex: 0 0 35%;
            color: $color-white;
            text-transform: uppercase;
            font-family: YesevaOne;
            font-size: 1.8rem;
            line-height: 3.8rem;
            text-align: center;
            margin-top: 1rem;

            @include respond(tab-land) {
                font-size: 1.6rem;
            }

            &:nth-child(2) {
                flex: 0 0 22%;
            }
        }
    }
}

.section-contacts {
    background-image: url('../../img/map_bg.jpg');
    background-size: cover;
    background-position: center;
    min-height: 85rem;

    @include respond(tab-port) {
        min-height: 80rem;
    }

    @include respond(phone) {
        background-image: linear-gradient(#131313, #131313);
        min-height: 80rem;
    }

    &__questions-wrapper {
        position: relative;
        margin: auto;
        width: 63%;
        height: 84.5%;

        @include respond(tab-land) {
            width: 76%;
        }

        @include respond(phone) {
            width: 90%;
        }
    }

    &__questions {
        position: absolute;
        background-color: $color-black;
        opacity: 1;
        width: 61.3%;
        height: 50%;
        max-width: 88.3rem;
        max-height: 44.5rem;
        left: 50%;
        transform: translate(-50%, -50%);

        @include respond(tab-port) {
            height: 58%;
        }

        @include respond(phone) {
            background-color: #131313;
        }

        & h2 {
            position: relative;
            width: 80%;
            margin: 0 auto;
            margin-top: 3.5rem;
            color: $color-white;
            font-family: YesevaOne;
            font-size: 2rem;
            text-transform: uppercase;
            margin-bottom: 3.6rem;
            text-align: center;

            @include respond(tab-land) {
                width: 80%;
            }

        }

        & form {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;

            @include respond(phone) {
                flex-direction: column;
            }
        }
    
        &__name,
        &__phone,
        &__question,
        &__checkbox {
            position: relative;
            flex: 0 0 20%;
            display: flex;
            flex-direction: column;
            font-family: FuturaBookC;
            margin-bottom: 3.2rem;  
            opacity: 1;                                               
    
            & label {
                flex: 0 0 20%;
                font-size: 1.5rem;
                opacity: 0.5;
                line-height: 1rem;
                color: $color-white;                       
                padding-bottom: 0.8rem;

                &:not(input) {
                    padding-top: 0.6rem;
                }
            }
    
            & input {
                border: none;
                font-size: 1.8rem;
                flex: 0 0 20%;
                line-height: 1rem;
                color: $color-white;
                font-family: FuturaBookC;
                font-size: 1.8rem;
                background-color: $color-black;

                @include respond(phone) {
                    background-color: #131313;
                }
            }
    
            &:after {
                display: block;
                content: ".";
                height: 1px;
                width: 100%;
                background-color: $color-grey-dark-2;
                opacity: 0.7;
                margin: 0 auto;
            }

        }

        &__question,
        &__checkbox {
            flex: 0 0 100%;
        }

        &__checkbox:after {
            display: block;
            content: "";
            height: 0px;
            width: 100%;
            background-color: $color-white;
            opacity: 1;
            margin: 0 auto;
            margin-right: 4rem;
        }
    
        &__submit {
            flex: 0 0 27%;
            background-color: $color-yellow;
            margin: 0 auto;
            text-align: center;
            display: block;
            height: 5rem;

            @include respond(phone) {
                width: 100%;
            }

    
            & button {
                height: 5rem;
                width: 20.1rem;
                border: 0;
                padding-bottom: 0.8rem;
                color: $color-white;
                font-family: FuturaDemiC;
                font-size: 1.5rem;

                @include respond(phone) {
                    margin: 0 auto;
                }

                &:hover,
                &:active {
                    cursor: pointer;
                }
            }
        }
    
        &__checkbox {
            display: block;
            cursor: pointer;
            padding-left: 2.2rem;
            font-family: FuturaBookC;
            font-size: 1.6rem;
    
            & input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }
        }
    
        &__checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 1.8rem;
            width: 1.8rem;
            border: 1px solid black;
            background-color: $color-white;
        }
    
        &__checkbox:hover input ~  &__checkmark {
            background-color: $color-white;
          }
    
          &__checkbox input:checked ~  &__checkmark {
            background-color: $color-yellow;
            border: 0;
          }
    
          &__checkmark:after {
            content: "";
            position: absolute;
            display: none;
          }
    
          &__checkbox input:checked ~  &__checkmark::after {
            display: block;
          }
    
          &__checkbox &__checkmark:after {
            left: 8px;
            top: 4px;
            width: 5px;
            height: 10px;
            border: solid $color-white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }

        @include respond(phone) {
            min-width: 100%;
        }
    }

    &__contacts {
        min-height: 10rem;
        width: 50%;
        position: relative;
        top: 25rem;
        margin: 0 auto;

        @include respond(tab-land) {
            width: 58%;
        }

        @include respond(phone) {
            position: absolute;
            top: 83%;
            left: 50%;
            transform: translateX(-50%);
        }

        @include respond(phone-sm) {
            top: 76%
        }

        @include respond(phone-smaller) {
            top: 65%
        }

        

        & ul {
            list-style-type: none;
             
            & li {
                text-align: center;
                font-family: YesevaOne;
                font-size: 2rem;
                text-transform: uppercase;
                padding-bottom: 0.4rem;
                color: $color-yellow;

                @include respond(tab-port2) {
                    font-size: 1.8rem;
                }

                &:last-child {
                    margin-top: 2rem;

                    &:hover,
                    &:active {
                        cursor: pointer;
                    }

                    & img:nth-of-type(2) {
                        padding-left: 2rem;
                    }
                }
            }
        }
    }

    &__map {
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translateX(-50%);
        width: 65%;
        height: 55%;
        max-width: 95rem;
        max-height: 40rem;
        background-image: url('../../img/map.jpg');
        background-repeat: no-repeat;
        background-size: contain;

        @include respond(tab-port) {
            top: 50%;
        }

        @include respond(tab-port2) {
            top: 52%;
        }

        @include respond(phone) {
            width: 90%;
            top: 34%;
        }
    }
}


